.background {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.background img{
  max-width: 100%;
}
.flex {
  display: flex;
}
.flex.v-center {
  align-items: center;
}
.flex.h-center {
  justify-content: center;
}
.flex.h-left {
  justify-content: left;
}
.flex.h-right {
  justify-content: right;
}
.flex.h-space-between {
  justify-content: space-between;
}
.header-row {
  color: #fff;
}
.main-title {
  font-size: 5em;
  margin-bottom: 5vh;
}
.header-wrapper {
  height: 40vh;
  padding-top: 10vh;
}
.form-control:focus {
  outline: none;
  box-shadow: 0 0 7px #000 !important;
  border: 1px solid #ccc !important;
}
.songs-row {
  min-height: 60vh;
}
.songs-row-background-default {
  background: #262626
}
.song-wrapper {
  margin-top: 10px;
  color: #fff;
  height: 200px;
  border-radius: 50%;
}
.song-wrapper-background-default {
  background: #000;
}
.song-image {
  width: 100px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 10px;
}
.song-title {
  font-size: 1.2em;
}
.artist-name {
  font-size: 1.1em;
}
.album-name {
  font-size: 1em;
}
.album-price {
  font-size: 0.9em;
}
.btn-main {
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
}
.btn-main:focus {
  outline: none;
}
.btn-main:hover {
  background: #333333;
  color: #fff;
}
audio {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
video {
  width: 250px;
  max-width: 100%;
  margin-bottom: 30px;
}